Reset default styles
body, h1, p {
	margin: 0;
	padding: 0;
    display:inline;
	
}
#page-header #page-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color:rgb(188, 74, 74)
}


#page-header #page-subtitle {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#login-container #login-heading, #login-container #username {
    
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

    line-height: 1; /* Adjust line height as needed */
}

/* Ensure the container itself has no padding */
#login-container {
    padding: 0;
}

/* Ensure the container itself has no padding */    

#welcome-message {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    
}




body {
	font-family: Arial, sans-serif;
	background-color: #7673736d;
	color: #333;
}

h1 {
	font-size: 48;
	margin-bottom: 0px;
    padding-bottom: 0px;
	text-transform: mixed-case;
    font-family: fantasy;
}

h3 {
	font-size: 24;
	margin-bottom: 0px;
    padding-bottom: 0px;
	text-transform: mixed-case;
    font-family: fantasy;
}


h4 {
    font-size: 16;
    font-weight: bold;

    margin-bottom: 0px;
    padding-bottom: 0px;
    text-transform: mixed-case;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h5 {
    font-size: 16;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-transform: mixed-case;
    font-family: 'Times New Roman', Times, serif;
}

h6 {
	font-size: 12;
	margin-bottom: 0px;
    padding-bottom: 0px;
	text-transform: mixed-case;
    /* font-family: fantasy; */
}

ol {
	background: #777;
	padding: 20px;
}

ol li {
	background: #aaa;
	color: black;
	padding: 5px;
	margin-left: 40px;
}

li {
	background: #aaa;
	color: black;
	padding: 5px;
	margin-left: 40px;
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}

a {
	color: #007bff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	background-color: #007bff;
	color: white;
	padding: 5px 5px;
	border: 1.5mm ridge rgba(214, 96, 22, 0.5);
	border-radius: 15px;
	cursor: pointer;
	box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
}

button:hover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
